html {
  height: 100%;
  
}

body {
  height: inherit;
 
}

img {
  width: 50px;
  height: 50px;

}
.box1 {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}



.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}
